#main {
  display: flex;
  flex-direction: row;
  background-color: #4F5D75;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #2D3142;
  height: 80vh;
  width: 30vw;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
}

#userPic {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}

#userName {
  font-size: 50px;
  color: white;
  margin-top: 25px;
}

.bio {
  margin-top: 100px;
  margin-left: 50px;
}

#bioText {
  color: white;
}

.buttonContainer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#changeNameButton {
  width: 20vw;
  height: 5vh;
  background-color: #EF8354;
  color: white;
  margin-bottom: 10px;
}

.backButton {
  width: 20vw;
  height: 5vh;
  background-color: #EF8354;
  color: white;
  margin-bottom: 10px;
}

.logoutButton {
  width: 20vw;
  height: 5vh;
  background-color: #EF8354;
  color: white;
  margin-bottom: 10px;
}