#main {
  display: flex;
  flex-direction: row;
}

.chat{
  display:flex;
  flex-direction: column;
  width: 65vw;
  height: 95vh;
  border-color: black;
  border: solid;
}


.typeBox{
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 25px;
  display:flex;

  width: 70%;
  margin-top: auto;
  
  border:solid;
  border-color: black;
}

.input{
  width: 100%;
  height: 100%;
}

.message{
  display: flex;
  margin: 20px;
  margin-left: 100px;
}

.messageText{
  margin-left: 50px;
}

.messagePic{
  width: 50px;
  height: 50px;
}

.history{
  display: flex;
  flex-direction: column;

  width: 35vw;
  height: 95vh;
  border-color: blueviolet;
  border: solid;
}

.historyTitle{
  margin-left:auto;
  margin-right:auto;
  height: 10;

}

.historyText{
  margin-left:auto;
  margin-right:auto;
}

.vote{
  margin-left:auto;
  margin-right:auto;
  margin-top: auto;
  border: solid;
  border-width: 2px;
  color: black;
}

.voteTitle{
  margin: 10px;
}

.noVote{

}

.yesVote{

}

.buttonContainer{
 margin: 10px;
 margin-left:auto;
 margin-right:auto;
 width: 75%;
 display: flex;
 justify-content: space-between;
}